<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <link href="/static/css/main.css" type="text/css" rel="stylesheet">
        <title>Map Search</title>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"></script>
        </script>
            <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js">
        </script>
    </head>
    <body>
        <div id="banner">
            <div id="logo">Spacial Search</div>
            <input type="text" id="search_bar" autocomplete="off"/>
            <div id="k_font">k nearest :</div>
            <input type="text" id="num" autocomplete="off"/>
        </div>
        <div id="result"></div>
        <div id="map_canvas"></div>
        <div class="clear_float"></div>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </body>
</html>