html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.clear_float
{
    clear: both;
}

#banner
{
    height: 7%;
    background-color: #000033;
    background: -webkit-linear-gradient(top, #000033, #003366);
    background: -moz-linear-gradient(top, #000033, #003366);
    background: -ms-linear-gradient(top, #000033, #003366);
    background: -o-linear-gradient(top, #000033, #003366);
    background: linear-gradient(top, #000033, #003366);
}

#logo
{
    color: #FFFF99;
    float: left;
    font: bold 22pt Cambria;
    margin: 8px 0px 0px 40px;
}

#search_bar
{
    width: 40%;
    height: 60%;
    float: left;
    font: 15pt Arial;
    margin: 10px 0px 0px 20px;
}

#k_font
{
    color: white;
    float: left;
    font:  bold 14pt Arial;
    margin: 15px 0px 0px 20px;
}

#num
{
    width: 5%;
    height: 60%;
    float: left;
    font: 15pt Arial;
    margin: 10px 0px 0px 5px;
}

#check_box
{
    margin-top: 0.5cm;
    font-style: 
}


#map_canvas
{
    width: 77%;
    height: 97%;
}


#status_bar
{
    color: white;
    float: left;
    font: bold 20pt Arial;
    margin: 12px 0px 0px 30px;
}

#time_show
{
    font: 11pt Arial;
    color: #666666;
    padding: 10px 0px 10px 20px;
    background-color: #EEEEEE;
}

#result
{
    width: 23%;
    height: 93%;
    float: left;
    overflow: auto;
}

.result_item
{
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

.result_item:hover
{
    cursor: pointer;
    background-color: #D0FFFF;
}

.result_item > .addr
{
    font: 11pt Arial;
    color: black;
}

.result_item > .name
{
    font: bold 16pt Arial;
    color: #3300CC;
}

.result_item > .latlng
{
    font: 10pt Consolas;
    color: #009900;
}


